header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;

    border-bottom: solid #cc334f 3px;

    display: flex;
}

nav{
    margin-left: auto;
    margin-right: 190px;

    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    font-size: 1.5em;
    height: 75px;

    list-style-type: none;
}

nav a{
    display: flex;
    align-items: center;

    height: 75px;
    padding-left: 36px;
    padding-right: 36px;

    text-decoration: none;
    color: #fff;
}