body{
    background: #0d1216;
    font-family: 'League Spartan', sans-serif;
}

#profil{
    background: #cc334f;
}

#accueil:hover, #message:hover{
    background: rgba(204, 51, 79, 0.6);
}